{% extends "base.html" %}

{% block title %}Test Arduino - SAFESIP{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Test Arduino</h1>
    
    <div class="card">
        <div class="card-body">
            {% if dato is not none %}
                <h5 class="card-title">Ultimo dato ricevuto</h5>
                <p class="card-text">
                    <strong>Peso:</strong> {{ dato }} g<br>
                    <strong>Tempo trascorso:</strong> {{ tempo_trascorso }} secondi
                </p>
            {% else %}
                <p class="card-text">Nessun dato ricevuto dall'Arduino</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 